#box1{
   height: 500px;
   position: relative;
   border: 1px solid;
}
#box2{
   height: 400px;
   display: flex;
   border: none;
   align-items: center;
   justify-content: center;
}
#box3{
   height: 70px;
   display: flex;
   border: none;
   align-items: center;
   justify-content: center;
}
#monstercounter{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:indigo;
}
#maintext{
    font-size: 60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    transform: rotateZ(-15deg);
    animation: myRotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}
#buttonmain{
    background-color: #f5efe6;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 90px;
    padding-right: 90px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    color: #5f7161;
    border: none;
    border-radius: 55px;
    cursor: pointer;
}
#buttonmain:hover{
    background-color: #e8dfca;
    transition: background-color 0.25s;
}
#buttonmain:active{
    background-color:#f9f9f9;
    transition: background-color 0.10s;
}
@keyframes myRotate{
    50%{transform: rotateZ(15deg)};
}
